#topMenuBtns{
    position: absolute;
    right: 20px;
}
.topMenuBtn{
    border: none;
    outline: none;
    background: transparent;
    margin: 0 5px;
    color: #4e73df;
    -webkit-app-region: no-drag;
}
#topMenu{
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.pull-right{
    float: right;
}
#dateSelector{
    text-align: center;
}
.mr {
    margin-right: 15px;
    border: none;
    outline: none;
    background: transparent;
    margin: 0 5px;
    color: #4e73df;
}
.ml{
    margin-left: 15px;
    border: none;
    outline: none;
    background: transparent;
    margin: 0 5px;
    color: #4e73df;
}
